<h1>Coin Combination</h1>
  <form action="/coin_combination">
    <div class="form-group">
      <label for="money">Enter your money value here</label>
      <input type="text" name="money" class="form-control">
    </div>
    <button type="submit" class="btn-success">Enter</button>
  </form>
